# SQLite Database

### import package

In [2]:
# import sqlite3 package
import sqlite3

### connect to database

In [6]:
# create a connection to the database : create database if it isnt' already available
connection = sqlite3.connect("classroomDB.db")
connection.close()

### create table

In [7]:
# open connection
connection = sqlite3.connect("classroomDB.db")
#open cursor
cursor = connection.cursor()
# query for creating table
create_table = """
    create table classroom(
        student_id integer primary key,
        name varchar(20),
        gender char(1),
        physics_marks integer,
        chemistry_marks integer,
        mathematics_marks integer
    );"""
#execute query
cursor.execute(create_table)
#commit changes
connection.commit()
#close connection
connection.close()

### insert data

In [16]:
# sample data
classroom_data = [(1, "Raj", "M", 70, 84, 92),
                  (2, "Poonam", "F", 87, 69, 93),
                  (3, "Nik", "M", 65, 83, 90),
                  (4, "Rahul", "F", 83, 76,89)]
# open connection
connection = sqlite3.connect("classroomDB.db")
#open cursor
cursor = connection.cursor()
# insert each student record
for student in classroom_data:
    # formatted query string
    insert_statement = """insert into classroom
        (student_id, name, gender, physics_marks, chemistry_marks, mathematics_marks)
        VALUES
        ({0}, "{1}", "{2}", {3}, {4}, {5});""".format(student[0], student[1], student[2], student[3], student[4], student[5])
    # execute insert query
    cursor.execute(insert_statement)

# commit the changes
connection.commit()

#close the connection
connection.close()

### extract data

In [4]:
# open connection
connection = sqlite3.connect("classroomDB.db")
#open cursor
cursor = connection.cursor()
# formatted query string
select_statement = "select * from classroom"

cursor.execute(select_statement)

result = cursor.fetchall()

#print results
for row in result:
    print(row)

#close the connection
connection.close()

(1, u'Raj', u'M', 70, 84, 92)
(2, u'Poonam', u'F', 87, 69, 93)
(3, u'Nik', u'M', 65, 83, 90)
(4, u'Rahul', u'F', 83, 76, 89)

# MySQL database

### install package

In [7]:
!conda install -y -q pymysql

Collecting package metadata: ...working... done
Solving environment: ...working... done

## Package Plan ##

  environment location: C:\ProgramData\Anaconda2

  added / updated specs:
    - pymysql


The following NEW packages will be INSTALLED:

  conda-package-han~ conda-forge/win-64::conda-package-handling-1.3.11-py27_0
  pymysql            conda-forge/noarch::pymysql-0.9.3-py_0

The following packages will be UPDATED:

  conda                      pkgs/main::conda-4.6.11-py27_0 --> conda-forge::conda-4.7.5-py27_0

The following packages will be SUPERSEDED by a higher-priority channel:

  certifi                                         pkgs/main --> conda-forge
  openssl                                         pkgs/main --> conda-forge


Preparing transaction: ...working... done
Verifying transaction: ...working... done
Executing transaction: ...working... done

C:\dev\POC\jupyter\module2>ET _sysp=%~dpA

C:\dev\POC\jupyter\module2>IF NOT EXIST "!_sysp!\Scripts\conda.exe"
Collecting package metadata (repodata.json): ...working... done
Solving environment: ...working... done

# All requested packages already installed.

WARNING: The conda.compat module is deprecated and will be removed in a future release.
'ET' is not recognized as an internal or external command,
operable program or batch file.
WARNING conda.base.context:use_only_tar_bz2(632): Conda is constrained to only using the old .tar.bz2 file format because you have conda-build installed, and it is <3.18.3.  Update or remove conda-build to get smaller downloads and faster extractions.

### Run a local mysql instance

In [11]:
!docker pull mysql/mysql-server:latest

latest: Pulling from mysql/mysql-server
35defbf6c365: Pulling fs layer
e13cf68584a3: Pulling fs layer
259d03b6a792: Pulling fs layer
892ac46af8c0: Pulling fs layer
892ac46af8c0: Waiting
259d03b6a792: Verifying Checksum
259d03b6a792: Download complete
892ac46af8c0: Verifying Checksum
892ac46af8c0: Download complete
35defbf6c365: Verifying Checksum
35defbf6c365: Download complete
e13cf68584a3: Verifying Checksum
e13cf68584a3: Download complete
35defbf6c365: Pull complete
e13cf68584a3: Pull complete
259d03b6a792: Pull complete
892ac46af8c0: Pull complete
Digest: sha256:8dd16a45d0e3e789f2006b608abb1bb69f1a8632a338eef89aec8d6fccda7793
Status: Downloaded newer image for mysql/mysql-server:latest

In [18]:
!docker run --name=mysql1 -p 127.0.0.1:3306:3306 -e MYSQL_ROOT_HOST=% -e MYSQL_ROOT_PASSWORD=V3ry$3cr3t -d mysql/mysql-server:latest

dc62fefc98d119d68c5055eb45281cac062926a74ab6ffb21e1a26bad386cfae

In [21]:
!ipconfig

Windows IP Configuration


Ethernet adapter Ethernet 2:

   Media State . . . . . . . . . . . : Media disconnected
   Connection-specific DNS Suffix  . :

Ethernet adapter vEthernet (DockerNAT):

   Connection-specific DNS Suffix  . :
   Link-local IPv6 Address . . . . . : fe80::dc08:492a:ddce:30d8%3
   IPv4 Address. . . . . . . . . . . : 10.0.75.1
   Subnet Mask . . . . . . . . . . . : 255.255.255.0
   Default Gateway . . . . . . . . . :

Wireless LAN adapter Local Area Connection* 1:

   Media State . . . . . . . . . . . : Media disconnected
   Connection-specific DNS Suffix  . :

Wireless LAN adapter Local Area Connection* 2:

   Media State . . . . . . . . . . . : Media disconnected
   Connection-specific DNS Suffix  . :

Wireless LAN adapter Wi-Fi:

   Connection-specific DNS Suffix  . : serenity.dom
   IPv6 Address. . . . . . . . . . . : 2601:247:c500:3600:2cf1:e93d:7610:f2ac
   Temporary IPv6 Address. . . . . . : 2601:247:c500:3600:e04b:79e8:c650:717a
   Link-local IPv6 Address . . . . . : fe80::2cf1:e93d:7610:f2ac%7
   IPv4 Address. . . . . . . . . . . : 192.168.1.50
   Subnet Mask . . . . . . . . . . . : 255.255.255.0
   Default Gateway . . . . . . . . . : fe80::c2c5:22ff:fef6:db3c%7
                                       192.168.1.253

Ethernet adapter Bluetooth Network Connection:

   Media State . . . . . . . . . . . : Media disconnected
   Connection-specific DNS Suffix  . :

Ethernet adapter vEthernet (Default Switch):

   Connection-specific DNS Suffix  . :
   Link-local IPv6 Address . . . . . : fe80::4476:516e:6c2:96f6%25
   IPv4 Address. . . . . . . . . . . : 192.168.227.193
   Subnet Mask . . . . . . . . . . . : 255.255.255.240
   Default Gateway . . . . . . . . . :

### import package

In [8]:
import pymysql

### connect to database

In [25]:
# Connection Details
cnx = { 'host': '127.0.0.1:3306',
        'username': 'root',
        'password': 'V3ry$3cr3t',
        'db': 'classroomDB' }
cnx = pymysql.connect(cnx['host'], cnx['username'], cnx['password'], cnx['db'])
# close database
connection.close()

OperationalError: (2003, "Can't connect to MySQL server on 'localhost:3306' ([Errno 11001] getaddrinfo failed)")